media/*
plex/*
.bash*
.profile*
.ssh*
.env
.vim*
downloads/*
.gitconfig
*.log
.DS_Store
.env_secret
flexget/*.sqlite
transmission/dht.dat
transmission/stats.json
transmission/resume/*
transmission/torrents
flexget/cached_resources
etc-pihole/
etc-dnsmasq.d/
heimdall/
